body {
    background-color: #F6F6F7;
}

.web-title {
    color: #5D5FEF;
    font-size: 28px;
    margin-left: 5%;
}

.news-blog {
    display: flex;
    justify-content: end;
    list-style: none;
}

.news-blog ul {
    margin-right: 10%;
}

.news-blog a {
    text-decoration: none;
    color: #5D5FEF;
}

a:hover {
    font-weight: 700;
    color: #5D5FEF;
}

.portal-section {
    border-bottom: 2px solid grey;

}

.found {
    color: #fff;
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
}

.pera-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-margin {
    margin-bottom: 50px;
}

.author-image {
    width: 20%;
}

/* .categories-section {
    box-shadow: 20px 0px 40px black;
    border-radius: 20px;
} */






/*---------------
 RESPONSIVE 
------------- */
@media only screen and (max-width: 888px) {
    .web-title {
        font-size: 20px;
    }

    .trending {
        display: none;
    }
}

@media only screen and (max-width: 696px) {
    .web-title {
        font-size: 18px;
    }

    .news-blog a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 648px) {
    .web-title {
        font-size: 14px;
    }

    .news-blog a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .web-title {
        font-size: 22px;
        text-align: center;
    }

    .news-blog a {
        font-size: 19px;
    }

    .news-blog {
        text-align: center;
    }

    .news-blog {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Todays {
        display: none;
    }
}